<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h2>Date from request body</h2>
      <form id="form">
        <label for="date"> ingrese la fecha</label>
        <input type="datetime-local" name="date" id="date" placeholder="aa/bb/cccc">
        <button type="submit">enviar</button>
      </form>
    </div>
    <div id="output">

    </div>
    <div class="container">
      <h2>Date from request params</h2>
      <form id="formParam">
        <label for="date"> ingrese la fecha</label>
        <input type="datetime-local" name="date" id="date" placeholder="aa/bb/cccc">
        <button type="submit">enviar</button>
      </form>
    </div>
    <div id="getDate">
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>

<script>
const formBody = document.getElementById('form')
const output = document.getElementById('output')
const handlerSumbit = async (e)=>{
e.preventDefault()
const formData = new FormData(formBody);
const fields = Object.fromEntries(formData);
const url = 'http://localhost:3000/api/date'
try{
  const response = await fetch(url,{
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(fields)
})
 const data = await response.json()

 const childContent = `
  <p class="content"><b>unix:</b> ${data.unix}</p>
  <p class="content"><b>UTC:</b> ${data.utc}</p>` 
 output.innerHTML = childContent
}
catch (err){
  console.log(err)
}

}
formBody.addEventListener('submit', handlerSumbit)

const formParam = document.getElementById('formParam')
const getDate = document.getElementById('getDate')
const handlerSumbitParam = (e)=>{
  e.preventDefault()
  const formData = new FormData(formParam);
  const fields = Object.fromEntries(formData);
  const URL = `/api/timestamp/${fields.date}`
  const childButton = `
  <a href="${URL}" target="_blank">get JSON DATE</a>
  `
  getDate.innerHTML = childButton

}
formParam.addEventListener('submit', handlerSumbitParam)

</script>
