/****** Main Styling ******/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
  padding: 20px;
}

h2 {
  padding: 20px;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

#getDate a {
  display: block;
  text-decoration: none;
  color: white;
  width: 15em;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
  margin: 25px;
}

.footer {
  margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: #2574a9;
}
